body {
  border: 2px solid black;
  margin: 0px;
  background-color: #e8eaeb;
}

header {
  background-color: #1e556a;
  /* border: 2px solid mediumblue; */
  display: flex;
  justify-content: row;
  /* margin-left: 5%; */
  padding-left: 5%;
  padding-right: 5%;
}

header h1 {
  margin-right: auto;
  margin-left: 1%;
}

.bar {
  /* border: 2px solid firebrick; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 1%;
}

.bar p {
  border: 2px solid #e8eaeb;
  background-color: #e8eaeb;
  padding: 5px;
  font-size: 20px;
  border-radius: 10%;
}

main {
  /* border: 2px solid magenta; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.presentation {
  background-color: #1e556a;
  /* border: 2px solid forestgreen; */
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  border-radius: 2%;

  align-items: center;
}

.userIcon {
  width: 300px;
  /* border: 2px solid red; */
  display: flex;
}

.nume {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.jobRole {
  display: flex;
  justify-content: center;
}

.iconLinks {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.fbIcon {
  width: 50px;
}

.gitIcon {
  width: 50px;
}

.me {
  /* border: 2px solid rosybrown; */
  background-color: #1e556a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "aboutme aboutme" "personal interests";
  border-radius: 2%;
  margin-bottom: 5%;
}

.aboutMe {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  grid-area: aboutme;
}

.infoIcon {
  width: 100px;
  background-color: #1e556a;
}

.personalDetails {
  /* border: 2px solid saddlebrown; */
  grid-area: personal;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "b bv" "p pv" "m mv" "a av";
}

.personalDetails p {
  /* border: 1px solid #e8eaeb; */
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 5px;
  background-color: #00aff0;
  color: #e8eaeb;
}

.birthdate {
  grid-area: b;
}

.birthdate-value {
  grid-area: bv;
}

.phone {
  grid-area: p;
}

.phone-value {
  grid-area: pv;
}

.mail {
  grid-area: m;
}

.mail-value {
  grid-area: mv;
}

.adress {
  grid-area: a;
}

.adress-value {
  grid-area: av;
}

.myInterests {
  /* border: 2px solid slateblue; */
  grid-area: interests;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "g mo s" "ma c mu";
}

.myInterests p {
  display: flex;
  justify-self: center;
  align-self: center;
  border: 2px solid #e8eaeb;
  background-color: #e8eaeb;
  color: #00aff0;
  padding: 5px;
}

.games {
  grid-area: g;
}

.movies {
  grid-area: mo;
}

.sport {
  grid-area: s;
}

.math {
  grid-area: ma;
}

.code {
  grid-area: c;
}

.music {
  grid-area: mu;
}

.skills {
  /* border: 2px solid lightseagreen; */
  background-color: #1e556a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "ts ps";
  margin-bottom: 5%;
  border-radius: 1%;
}

.technicalSkills {
  grid-area: ts;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.technicalSkills p {
  border: 2px solid #e8eaeb;
  background-color: #e8eaeb;
  border-radius: 10%;
  display: flex;
  padding: 5px;
  justify-self: center;
}

.profesionalSkills {
  grid-area: ps;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profesionalSkills p {
  display: flex;
  flex-wrap: nowrap;
  justify-self: center;
  align-self: center;
  border: 1px solid #e8eaeb;
  padding: 5px;
  background-color: #00aff0;
  border-radius: 5%;
}

.titleSkills {
  grid-area: title;
  text-align: center;
}

.educationAndExperience {
  /* border: 2px solid forestgreen; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1e556a;
  margin-bottom: 5%;
  border-radius: 2%;
}

.education,
.experience {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.university,
.highSchool,
.hp,
.sportisimo {
  border: 2px solid #e8eaeb;
  background-color: #00aff0;
  text-align: center;
  border-radius: 2%;
}

.hp {
  margin-right: 5%;
  margin-left: 5%;
}

.universityName,
.highSchoolName,
.hpName,
.sportisimoName {
  font-weight: bold;
}

.projects {
  /* border: 2px solid red; */
  background-color: #1e556a;
  border-radius: 2%;
  color: #e8eaeb;
  margin-bottom: 5%;
}

.projects h2 {
  text-align: center;
}

footer {
  border: 2px solid #1e556a;
  background-color: #1e556a;
  border-radius: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #e8eaeb;
}

.mail,
.linkedin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.linkedin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* @media (max-width: 1100px) {
  .me {
    display: flex;
    flex-direction: column;
  }
} */
